.footer {
    background-color: #200a0a;
    width: 100%;

}

.links {
    display: flex;
}

.footer_shop {
    padding: 2%;
    display: inline-block;
    max-width: 150px;  
}

.footer_insta_image {
    margin: 50%;
    display: block;
    max-width: 58px;

}

.footer_text {
    display: inline-block;
    font-size: 13px;
    color: white;
    font-family: YuMincho;
}


#pagetop{
    position:fixed;
    right:10px;
    bottom:0px;
    cursor:pointer;
    z-index: 10;
}

@media screen and (max-width:480px) {
 
	/*画面サイズが480px以下の場合ここの記述が適用される*/
     .small_shop{
        padding: 10%;
        display: inline-block;
        max-width: 100px;  
    }



    .footer_insta_image {
        margin: 30%;
        padding: 10%;
        /* display: inline-block; */
        max-width: 40px;
    
    }

 
}

